@import 'admin.scss';
// Variable
$main-color: rgb(107, 109, 240);
body {
    font-family: 'Fira Code';
}

.nav-container {
    background-color: $main-color;
    .dark-icon {
        transition: 0.2s;
        &:active {
            transform: scale(0.75);
        }
    }
}

.bg-header {
    background: url('/img/blog-header.jpg') center center no-repeat;
    filter: brightness(85%);
    background-attachment: fixed;
}


/* Upload PP Style */

.user-upload-image .file-upload {
    display: none;
}

.user-upload-image .p-image {
    position: relative;
    left: 80px;
    top: -122px;
    font-size: 1.8em;
    cursor: pointer;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.user-upload-image .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.user-upload-image .upload-button {
    font-size: 1.2em;
    color: #eee;
}

.user-upload-image .upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #ccc;
}